* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 65px;
  background-color: rgba(255, 255, 255);
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 10px;
}

.header-left {
  float:left;
}

.header-right {
  float:right;
  transition: all 0.6s;
  background-color: rgba(255, 255, 255)
}

.header-right a:hover {
  background-color: rgba(230, 126, 34, 0.5);
}

.header-right a {
  color: black;
  padding: 0 25px;
  line-height: 65px;
  display: block;
  float: left;
}

.menu-icon {
  color: black;
  float: right;
  display: none;
}

.top-wrapper {
  background-image: url('background2.jpg');
  background-size: cover;
  padding: 300px 20px;
  text-align: center;
  color: #7f8c8d;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.a {
  position: relative;
  top: 1000px;
  bottom: 10px;
  text-align: left;
}

.clear {
  clear:left;
}

.container {
max-width: 1170px;
width: 100%;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #00b894;
}

.facebook {
  background-color: #0984e3;
}

